
html {
	background-image: url("background.png");
	background-repeat:repeat;
	background-size:cover;
}

body {
  display: flex;
  justify-content: center;
}

.container {

  margin: 50px;
  padding: 50px;
  border-radius: 25px;
}
h1 {
	  text-shadow: 2px 2px #555;
}
.tytul {
  text-align: center;
  justify-content: center;

}

.status-action {
  display: flex;
  margin-top: 25px;
  font-size: 25px;
  justify-content: space-around;
  height: 30px;
}

.reset {
  cursor: pointer;
}

.reset:hover {
  color: #FFFFFF;
}

.game-grid {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  margin-top: 50px;
}

.game-cell {
  background-color:rgb(201,160,122);
  -moz-box-shadow:inset 0 0 10px #000000;
  -webkit-box-shadow:inset 0 0 10px #000000;
  box-shadow:inset 0 0 10px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 200px;
  width: 200px;
}

.x,
.o {
  cursor: default;
}

.x::after {
  content: '×';
  font-size: 200px;
}

.o::after {
  content: '○';
  color: #FFFFFF;
  font-size: 225px;
  margin-bottom: 30px;
}
.won::after {
  color: green;
}


















































